<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Notchly needs access to your Calendar to display any upcoming and past events.</string>
	<key>SFSafariCorrespondingMacOSAppBundleIdentifier</key>
	<string></string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Notchly needs access to Apple Music, your music and video activity, and your media library to enable playback control and manage your local audio files.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Notchly needs access to control Apple Music for media playback management from your notch.</string>
	<key>kTCCServiceMediaLibrary</key>
	<string></string>
</dict>
</plist>
